body {
    padding-top: 20px;
}

h1#pageTitle {
    text-align: center;
}

#boardContainer {
    position: fixed;
    margin-left: 30%;
    /*left: 50%;*/

}

td {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
    background-image: url("../images/woodDark.png");
}

tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
    background-image: url("../images/woodLight.png");
}

